/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('../img/background.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo-img {
  width: 280px;
  margin-bottom: 10px;
}

.container {
  background: rgba(255, 255, 255, 0.15); /* vidro */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 40px;
  width: 450px;
  height: auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
}

.container input[type='text'] {
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.container select {
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.container button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #ff5e57;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.container button:hover {
  background: #e14e4a;
}
